<h2><%= @task.title %></h2>
<div class="alert alert-secondary" role="alert">
  <p><%= @task.details %></p>
</div>


<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
  <label class="form-check-label" for="flexCheckChecked">
    <p><%= @task.completed ? "completed" : "not completed" %></p>
  </label>
</div>

<br>

<button type="button" class="btn btn-outline-primary"><%= link_to "Back to the list", "/tasks" %></button>

<button type="button" class="btn btn-outline-warning"><%= link_to "Edit", edit_task_path(@task) %></button>

<button type="button" class="btn btn-outline-danger"><%= link_to "Delete",
  task_path(@task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%></button>
